.header-row {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}


tr {
    td {
        vertical-align: baseline;
    }
}

.icon-row {
    text-align: center;
    cursor: pointer;
}

.table-container {
    max-height: 80dvh;
    /* Set desired height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

table {
    width: 100%;
    border-collapse: collapse;
}

.title-row {
    padding-top: 20px;
    padding-bottom: 20px;

    .title {
        font-weight: 700;
        font-size: 24px;
    }
}